.font-en{
  font-family: 'Yeseva One', cursive;
}
.font-serif{
  font-family: 'Noto Serif TC', serif;
}
.bg-img{
  background-size: cover;
  background-position: center;
}
.btn-outline-dark{
  font-family: 'Noto Serif TC', serif;
}
.btn-outline-dark:hover{
  color: $primary;
}