.line{
  width: 100px;
  height: 0px;
  border: 1px solid #000;
  transform: rotate(-60deg);
  margin-top: 64px;
  margin-bottom: 64px;
}
.line-sm{
  width: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.cover-img{
  background-image: url("../../images/event/09.jpg");
  //background-image: src("../../images/event/09.jpg");
}